CompileFlags:
    CompilationDatabase: build
    Remove:
        - -mlongcalls
        - -mdisable-hardware-atomics
        - -fstrict-volatile-bitfields
        - -fno-tree-switch-conversion

Diagnostics:
    Suppress:
        - "no known conversion from 'HardwareSerial' to 'Print' for object argument"
        - 'no known conversion from ''HardwareSerial'' to ''Print'' for object argument'
        - "No matching member function for call to 'print'"
        #- 'ovl_no_viable_member_function_in_call'
        